$bg-color:DarkGray;
$color:#000000;
$selected-color:#2988cc;
$border-color:DarkGray;
$b-radius:4px;
$g-width:400px;
$hover-color:#2988cc;
$title-height:32px;
$item-margin:0 5px;
$item-height:40px;
$padding:0 5px;
.closebtn{
  line-height: $title-height;
  height: $item-height;
  text-align: center;  
  display: inline-block;
  cursor: pointer;
  float: right;
}
.closebtn:hover {
  color: #FF0000;
}